body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("/assets/img/home-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 20px;
    flex-grow: 1;
}

.left-side {
    flex: 1;
}

#left-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.right-side {
    flex: 1;
    text-align: center;
}

#title {
    font-size: 5rem;
    margin-bottom: 10px;
    color: white;
}

#subtitle {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
}



.buttons {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 2.5rem;
    background-color: aqua;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.button:hover {
    background-color: black;
}

.glow {
    box-shadow: 0 0 20px 10px white;
}
